<launch>
   <node pkg="autosail" name="sail_controller" type="sail_node_wind_angle.py">
      <rosparam command="load" file="$(find autosail)/config/ctrl_config.yaml"/>
   </node>
   <!--<node pkg="autosail" name="rudder_controller" type="rudder_node.py">
      <rosparam command="load" file="$(find autosail)/config/ctrl_config.yaml"/>
   </node>-->
</launch>
