<launch>
    <include file="$(find autosail)/launch/wind_sensor.launch"/>
    <include file="$(find autosail)/launch/motor_controller.launch"/>
   <!-- <include file="$(find autosail)/launch/camera.launch"/>-->
    <include file="$(find ublox_gps)/launch/ublox_device.launch">
        <arg name="node_name" value="node"/>
        <arg name="param_file_name" value="zed_f9p"/>
    </include>
    <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>
</launch>
