<launch>
    <!-- Environment -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find autosail)/config/custom_rosconsole.conf"/>

    <!-- Params -->
    <param name="log_level" value="4"/>

    <!-- Args -->
    <arg name="plot" default="false"/>

    <include file="$(find autosail)/launch/system_without_drivers.launch"/>
    <include file="$(find autosail)/launch/drivers.launch"/>

    <node pkg="autosail" type="probe_node.py" name="probe_node">
        <rosparam>
            topics:
              - name: /wind_sensor/wind_vector
              - name: /imu/data
              - name: /gps/fix
              - name: /gps/fix_velocity
              - name: /stm32_handle/sensor_readings
              - name: /rudder_controller/rudder_angle
              - name: /sail_controller/sail_servo_angle
        </rosparam>
    </node>
</launch>
